[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "==4.0.0"
bidict = "==0.23.1"
certifi = "==2026.4.22"
httpx = "==0.28.1"
idna = "==3.15"
loguru = "==0.7.3"
numpy = "==2.4.4"
pandas = "==3.0.3"
py5paisa = "==0.7.12"
pyjsparser = "==2.7.1"
pyjwt = "==2.12.1"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.2.2"
requests = "==2.34.2"
six = "==1.17.0"
tabulate = "==0.10.0"
urllib3 = "==2.7.0"
websocket-client = "==1.9.0"
websockets = "==16.0"

[dev-packages]
pylint = "==4.0.5"
ruff = "==0.15.13"

[requires]
python_version = "3.11"
python_full_version = "3.11.15"
