[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "==4.0.0"
bidict = "==0.22.1"
certifi = "==2024.7.4"
httpx = "==0.28.1"
idna = "==3.7"
loguru = "==0.7.2"
numpy = "==2.1.0"
pandas = "==2.2.3"
py5paisa = "==0.7.12"
pyjsparser = "==2.7.1"
pyjwt = "==2.12.0"
python-dateutil = "==2.8.2"
python-dotenv = "==1.2.2"
requests = "==2.33.0"
six = "==1.16.0"
tabulate = "==0.9.0"
urllib3 = "==2.7.0"
websocket-client = "==1.8.0"
websockets = "==9.1"

[dev-packages]
pylint = "==3.1.0"
ruff = "==0.15.10"

[requires]
python_version = "3.11"
python_full_version = "3.11.15"
